/* =========================
   ベース設定
========================= */
body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* =========================
   ヘッダー・本文
========================= */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header-inner {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: #000;
  color: #fff;
  padding: 24px 24px 2px;
  min-height: 160px;
}

.site-title {
  margin: 0;
  font-size: 2.2rem;
  z-index: 2;
}

main {
  flex: 1;
  padding: 24px;
  margin-top: 180px;
  
}

.updates {
  padding: 20px;
}



/* =========================
   見出し
========================= */


h2 {
  margin-bottom: 20px;
}

/* =========================
   円弧メニュー
========================= */

.arc-menu {
  position: relative;
  
  width: 180px;
  height: 180px;
 
}

.menu-item {
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: top right;
  transform: rotate(var(--angle)) translateX(-90px);
  text-decoration: none;
  color: #fff;
 font-weight: 700;
 font-size: 1.6rem;
}


/*スマホ用*/

@media (max-width: 600px) {
  .header-inner {
    padding: 16px;
    min-height: 120px;
  }

  .arc-menu {
    width: 140px;
    height: 140px;
  }
  .menu-item {
    font-size: 1.2rem;
    transform: rotate(var(--angle)) translateX(-70px);
  }

  main {
    margin-top: 140px;
  }
}


/* =========================
   ブログページ
========================= */


.blog-list article {
  margin-bottom: 40px;
}

.blog-list h2 {
  margin-bottom: 8px;
  text-decoration: underline;
}

.blog-list a {
  color: inherit;
  text-decoration: none;
}



.meta {
  font-size: 0.85rem;
  color: #666;
}

.excerpt {
  margin-top: 8px;
  line-height: 1.6;
}

.blog-post p {
  line-height: 1.8;
  margin-bottom: 1em;
}

.back-link {
  margin-top: 40px;
}
