/* =========================
   ベース設定
========================= */
body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* =========================
   ヘッダー・本文
========================= */
header {
  background: #000;
  color: #fff;
  padding: 50px 20px;
}

main {
  flex: 1;
  margin-top: 20px;
  padding: 0 20px;
}

/* =========================
   見出し
========================= */
h1 {
  margin: 0;
  font-size: 3rem;
}

h2 {
  margin-bottom: 20px;
}

/* =========================
   円弧メニュー
========================= */
.arc-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 200px;
  transform-origin: top right;
}

.menu-item {
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: top right;
  transform: rotate(var(--angle)) translateX(-100px);
  text-decoration: none;
  color: #fff;
 font-weight: 700;
 font-size: 2rem;
}


/* =========================
   ブログページ
========================= */


.blog-list article {
  margin-bottom: 40px;
}

.blog-list h2 {
  margin-bottom: 8px;
  text-decoration: underline;
}

.blog-list a {
  color: inherit;
  text-decoration: none;
}



.meta {
  font-size: 0.85rem;
  color: #666;
}

.excerpt {
  margin-top: 8px;
  line-height: 1.6;
}

.blog-post p {
  line-height: 1.8;
  margin-bottom: 1em;
}

.back-link {
  margin-top: 40px;
}
